{% load static %}

<link href="{% static 'css/password_reset.css' %}" rel="stylesheet" type="text/css">

<div class="container">
    {% block headertitle %}
        <h2>パスワードリセット</h2>
    {% endblock %}
    {% block content %}
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <p>パスワードリセットのためのリンクをメールで送信します。<br>登録されたメールアドレスを入力してください。</p>
            <div class="form-group">
                <label for="{{ form.email.id_for_label }}">メールアドレス</label>
                {{ form.email }}
                {{ form.email.errors }}
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">リセットリンクを送信</button>
            </div>
        </form>
    {% endblock %}
</div>
