body {
    padding-top: 100px; /* ヘッダーの高さに応じて調整 */
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff; /* 背景色 */
    z-index: 1000; /* 他の要素より前面に表示 */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}


nav {
    text-align: right;
}
   
.nav-button .fa {
    margin-right: 5px;
}




.top {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-align: center; /* 中央揃えの追加 */
}

h1 {
    font-size: 18px;
    padding: 0 8px 0 8px;
    
}

h2 {
    padding-top: 18px;
    font-size: 18px;
}

.main {
    text-align: center;
}

main {
    text-align: center;
    background-color: transparent;
    
}

p {
    font-size: small;
}

hr {
    background-color: rgb(187, 145, 238);
    height: 2px; /* 水平線の太さ */
    

}



.signup-button {
    
    background-color: #4CAF50; /* 緑色 */
    font-size: 24px;
    font-weight: bold;
    color: white;
    padding: 20px 70px;
    margin: 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}




.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 8px 0 8px;
}

.login-container {
    display: flex;
    align-items: center;
}

.login-message {
    font-size: 14px;
    margin-right: 10px; /* メッセージとボタンの間の余白 */
}

.nav-button {
    
    color: #666666;
    padding: 6px 16px;
    background-color: transparent;
    font-size: 14px;
    margin: 0 4px 0 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.nav-button:hover, .signup-button-header {
    background-color: #45a049;
}

.signup-button-header {
    
    background-color: #4CAF50; /* 緑色 */
    color: white;
    padding: 6px 16px;
    font-size: 14px;
    margin: 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    

}

section {
    background-color: transparent;
    padding: 0 16px 0 16px;
}

.price {
    text-align: center;
    background-color: #eee;
    padding: 16px;
    margin: 16px;
    border-radius: 30px;
}

.price_font {
    font-size: 30px;
    font-weight: bold;
    
}

.price_title {
    font-size: 20px;
    font-weight: bold;
}

.murixyou{
    background-color: #eee;
}

.mini {
    background-color: rgb(205, 201, 241);
}

.standard {
    background-color: #e2c6ff;
}

.director {
    background-color: #d1acf8;
}

h3 {
    font-weight: normal;
    text-align: center;
    padding: 0; /* ブラウザによって設定されているかもしれないパディングをリセットする */

}


ul {
    text-align: center; /* 親要素を中央揃えにする */
    list-style-type: none; /* 下線（リストスタイル）を除去する */
    padding: 0; /* ブラウザによって設定されているかもしれないパディングをリセットする */

  }
  

  li {
   font-size: 15px;
  }

  .footer-copyright {
    font-size: 0.8em;
    color: #666;
    text-align: center;
    padding: 10px;
  }
  